h1 {
    color: white;
}

/* Header Styles */
header {
  color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 0; */
  margin: 20px;
}

.mobile-heading {
  display: none;
}