:root {
  --primary-color:rgb(0,0,0);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(0, 0, 0);
  --highlight: #a3b18a;
  --bright: #dad7cd;
  --white: #ffffff;
  --primary-rgb: rgb(0,0,0);
}

body {
  font-family: "source-sans-3-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(255,240,240);
  background-color: black;
  transition: background-color 250ms linear;
}

hr {
  border: 1px solid var(--primary-color);
}

a {
  color: var(--secondary-color);
}

/* Generic Heading Styles */
h1, h2, h3 {
  font-family: "boiga-fill", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  text-transform: lowercase;
  font-kerning: auto;
}

h2 {
  font-size: 48px;
  color: var(--primary-color)
}

h3 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.emph {
  color: var(--tertiary-color);
  font-weight: 400;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
}

/* main content section styles */
.main-content-wrapper {
  width: 85%;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.skills-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: left;
  padding-inline-start: 0;
}

.skills-li {
  display: inline;
  list-style-type: none;
  padding: 5px 8px;
  font-weight: 600;
  margin: 3px;
  background-color: var(--secondary-color);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: var(--bright);
}

/* Resume Section */
.resume h2, .resume h3 {
  color: var(--primary-color)
}

/* Contact Form */
button {
  font-family: "source-sans-3-variable", sans-serif;
}

/* Styles for the footer */
footer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.icons a {
  transition: color 750ms ease-in 30ms;
}

.icons a:hover {
  color: var(--secondary-color);
}

.body-wrapper, .about-content-wrapper {
  min-height: calc(100vh - 128px);
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
