:root {
    --primary-color: #C9ADA7;
    --secondary-color: #4A4E69;
    --accent-color: #F2E9E4;
    --tertiary-color: #9A8C98;
    --line-color: #252525;
}

.grid-container {
    --line: 2px;        /* stroke width */
    --r: 80px;          /* corner radius */

    width: 100%;
    max-width: 100vw;
    max-height: 80vh;
    aspect-ratio: 1 / 1;        /* keeps it square and responsive */
    display: grid;
    grid-template-columns: .65fr 1.35fr;
}

.cell {
    box-sizing: border-box; 
    padding: 5px;
    margin: 2px;
    box-shadow: inset 0 0 0 var(--line) var(--line-color);
}
.cell:hover {
    box-shadow: inset 0 0 0 calc(var(--line) + 2px) var(--line-color);
    cursor: pointer;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent);
}

.cell a {
    text-decoration: none;
}

.cell a:hover {
    text-decoration: none;
}

.top-left { 
    background-color: var(--secondary-color); 
    color: var(--accent-color);}
.top-right { 
    background-color: var(--primary-color);
    color: var(--line-color); 
}

.bottom-left { 
    background-color: var(--tertiary-color); 
    color: var(--bright); 
}

.bottom-right { 
    background-color: var(--accent-color); 
    color: var(--line-color);
}

/* rounded outer corners */
.top-right { border-top-right-radius: var(--r); }
.bottom-left { border-bottom-left-radius: var(--r); }

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: .5rem;
    text-shadow: 1px 1px 2px var(--accent-color);
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--line-color);
    margin-top: 1rem;
    text-shadow: 1px 1px 2px var(--accent-color);
}

hr {
  border: .5px solid var(--line-color);
  width: 75%;
}

.links {
    font-size: 2.5rem;
    font-weight: 400;
    /* Add a subtle drop shadow */
    text-shadow: 2px 2px 1px var(--accent-color);
}